In [70]:
import pandas as pd
filename = '/content/sales_predictions.csv'
df = pd.read_csv(filename)
df.head(25)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15        9.300  ...  Supermarket Type1          3735.1380
1            DRC01        5.920  ...  Supermarket Type2           443.4228
2            FDN15       17.500  ...  Supermarket Type1          2097.2700
3            FDX07       19.200  ...      Grocery Store           732.3800
4            NCD19        8.930  ...  Supermarket Type1           994.7052
5            FDP36       10.395  ...  Supermarket Type2           556.6088
6            FDO10       13.650  ...  Supermarket Type1           343.5528
7            FDP10          NaN  ...  Supermarket Type3          4022.7636
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
10           FDY07       11.800  ...  Supermarket Type1          1516.0266
11           FDA03       18.500  ...  Supermarket Type1          2187.1530
12           FDX32       15.100  ...  Supermarket Type1          1589.2646
13           FDS46       17.600  ...  Supermarket Type1          2145.2076
14           FDF32       16.350  ...  Supermarket Type1          1977.4260
15           FDP49        9.000  ...  Supermarket Type1          1547.3192
16           NCB42       11.800  ...  Supermarket Type2          1621.8888
17           FDP49        9.000  ...  Supermarket Type1           718.3982
18           DRI11          NaN  ...  Supermarket Type3          2303.6680
19           FDU02       13.350  ...  Supermarket Type1          2748.4224
20           FDN22       18.850  ...  Supermarket Type1          3775.0860
21           FDW12          NaN  ...  Supermarket Type3          4064.0432
22           NCB30       14.600  ...  Supermarket Type1          1587.2672
23           FDC37          NaN  ...      Grocery Store           214.3876
24           FDR28       13.850  ...  Supermarket Type1          4078.0250

[25 rows x 12 columns]

In [71]:
df.info
#There are 8523 rows and 12 columns

<bound method DataFrame.info of      Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]>

In [72]:
df.dtypes
#These are the data types, object and float64

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [73]:
df.duplicated().any()

False

In [74]:
df.isnull().sum()
#Tiem_Weight and Outlet_Size have missing data

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [75]:
df['Item_Weight'].head(50)

0      9.300
1      5.920
2     17.500
3     19.200
4      8.930
5     10.395
6     13.650
7        NaN
8     16.200
9     19.200
10    11.800
11    18.500
12    15.100
13    17.600
14    16.350
15     9.000
16    11.800
17     9.000
18       NaN
19    13.350
20    18.850
21       NaN
22    14.600
23       NaN
24    13.850
25    13.000
26     7.645
27    11.650
28     5.925
29       NaN
30    19.250
31    18.600
32    18.700
33    17.850
34    17.500
35    10.000
36       NaN
37     8.850
38       NaN
39       NaN
40    13.350
41     9.800
42    13.600
43    21.350
44    12.150
45     6.420
46    19.600
47    10.000
48    15.850
49       NaN
Name: Item_Weight, dtype: float64

In [76]:
#Replacing the NaN in Item_Weight with the mean to allow the rest of the data to remain usable, and item weight seems relatively insignificant. Could also delete the column given the high number of NaN.
df['Item_Weight'].fillna(value=df['Item_Weight'].mean(), inplace=True)
df.head(20)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15     9.300000  ...  Supermarket Type1          3735.1380
1            DRC01     5.920000  ...  Supermarket Type2           443.4228
2            FDN15    17.500000  ...  Supermarket Type1          2097.2700
3            FDX07    19.200000  ...      Grocery Store           732.3800
4            NCD19     8.930000  ...  Supermarket Type1           994.7052
5            FDP36    10.395000  ...  Supermarket Type2           556.6088
6            FDO10    13.650000  ...  Supermarket Type1           343.5528
7            FDP10    12.857645  ...  Supermarket Type3          4022.7636
8            FDH17    16.200000  ...  Supermarket Type1          1076.5986
9            FDU28    19.200000  ...  Supermarket Type1          4710.5350
10           FDY07    11.800000  ...  Supermarket Type1          1516.0266
11           FDA03    18.500000  ...  Supermarket Type1          2187.1530
12           FDX32    15.100000  ...  Supermarket Type1          1589.2646
13           FDS46    17.600000  ...  Supermarket Type1          2145.2076
14           FDF32    16.350000  ...  Supermarket Type1          1977.4260
15           FDP49     9.000000  ...  Supermarket Type1          1547.3192
16           NCB42    11.800000  ...  Supermarket Type2          1621.8888
17           FDP49     9.000000  ...  Supermarket Type1           718.3982
18           DRI11    12.857645  ...  Supermarket Type3          2303.6680
19           FDU02    13.350000  ...  Supermarket Type1          2748.4224

[20 rows x 12 columns]

In [77]:
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [78]:
df['Outlet_Size'].head(50)

0     Medium
1     Medium
2     Medium
3        NaN
4       High
5     Medium
6       High
7     Medium
8        NaN
9        NaN
10    Medium
11     Small
12    Medium
13     Small
14      High
15     Small
16    Medium
17    Medium
18    Medium
19     Small
20      High
21    Medium
22     Small
23     Small
24     Small
25       NaN
26     Small
27      High
28       NaN
29     Small
30       NaN
31    Medium
32    Medium
33       NaN
34     Small
35    Medium
36    Medium
37    Medium
38    Medium
39    Medium
40     Small
41      High
42    Medium
43    Medium
44      High
45       NaN
46       NaN
47       NaN
48     Small
49     Small
Name: Outlet_Size, dtype: object

In [79]:
#There are 2410 missing values in Outlet_Size. This column seems to be relatively insiginificant. To retain the date in the rest of the row, the missing values will be replaced with 'Medium' which is the highest response as seen above. 
df['Outlet_Size'].fillna('Medium', inplace = True)
df.head(10)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15     9.300000  ...  Supermarket Type1          3735.1380
1           DRC01     5.920000  ...  Supermarket Type2           443.4228
2           FDN15    17.500000  ...  Supermarket Type1          2097.2700
3           FDX07    19.200000  ...      Grocery Store           732.3800
4           NCD19     8.930000  ...  Supermarket Type1           994.7052
5           FDP36    10.395000  ...  Supermarket Type2           556.6088
6           FDO10    13.650000  ...  Supermarket Type1           343.5528
7           FDP10    12.857645  ...  Supermarket Type3          4022.7636
8           FDH17    16.200000  ...  Supermarket Type1          1076.5986
9           FDU28    19.200000  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]

In [80]:
df.isnull().any()
#There are no more missing data

Item_Identifier              False
Item_Weight                  False
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                  False
Outlet_Location_Type         False
Outlet_Type                  False
Item_Outlet_Sales            False
dtype: bool

In [91]:
df['Item_Fat_Content'].value_counts()
#Shows inconsistent value names
#Fix LF and low fat to Low Fat 
#Fix reg to Regular 
df.replace({'LF': 'Low Fat'}, inplace = True)
df.replace({'low fat': 'Low Fat'}, inplace = True)
df.replace({'reg': 'Regular'}, inplace = True)
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [93]:
df['Item_Type'].value_counts()
#Seems consistent

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [95]:
df['Outlet_Size'].value_counts()
#Consistent

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [96]:
df['Outlet_Establishment_Year'].value_counts()
#appears accurate
#Could change this column to age of business and subtract the established year from the present year.

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [97]:
df.describe()
#Here are the summary statistics of the numerical columns:

       Item_Weight  ...  Item_Outlet_Sales
count  8523.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.226124  ...        1706.499616
min       4.555000  ...          33.290000
25%       9.310000  ...         834.247400
50%      12.857645  ...        1794.331000
75%      16.000000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]